+++
title = "Cluster PI"
linkTitle = "Cluster PI"

+++

{{< blocks/cover title="Cluster PI" image_anchor="top" height="min" color="white" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/clusterpi/clusterpi.github.io/pulls">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">A web site dedictated for building Clusters with Raspberry PIs </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Cluster PI is intended to collect information about how to build
Clusters from Raspberr PIs. 

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Lern with us!" %}}
The Cluster PI allows you to learn with us how to build clusters.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/clusterpi/clusterpi.github.io" %}}
We do a [Pull Request](https://github.com/clusterpi/clusterpi.github.io/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-slack" title="Work with us on Slack!" url="https://app.slack.com/client/TFQC2P62D/CTP848QDV/details/top" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Cloudmesh PI Burn</h1>
</div>

We have a sophisticated cloudmesh burn program that allows you to
easily burn multiple SD Cards which will configure networking,
hostnames, and shhlogin keys conveniently for you.

see ... TBD

{{< /blocks/section >}}



{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Ongoing Project</h1>
</div>

We just started a project to create a Kubernetes Cluster on Raspberry
PIs

see TBD ...

{{< /blocks/section >}}
